.Giving {
  display: flex;
  justify-content: center;

  .link {
    margin-bottom: 32px;

    &:last-child {
      margin-bottom: 0;
    }

    p {
      margin: 0;
    }
  }

  .tithely-give-btn {
    background-color: #00DB72;
    font-family: inherit;
    font-weight: bold;
    font-size: 19px;
    padding: 15px 70px;
    border-radius: 4px;
    cursor: pointer;
    background-image: none;
    color: white;
    text-shadow: none;
    display: inline-block;
    float: none;
    border: none;
  }
}
