.BuildingProgram {
  position: relative;

  .hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    height: 70vh;
    width: 100vw;
    padding-top: 87px;

    background: url('../../assets/images/bg.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    h1 {
      margin: 0 32px;
      padding-bottom: 16px;
      border-bottom: 2px solid rgba( 0, 0, 0, .1 );

      text-align: center;
      font-weight: 400;
      font-size: calc( 24px + 3vw );
      color: rgba(0, 0, 0, .84);
    }

    h2 {
      width: calc(( 24px + 3vw ) * 10.3);
      margin: 24px 32px 0 32px;

      text-align: left;
      font-weight: 400;
      color: rgba( 0, 0, 0, .84 );
    }
  }

  .content {
    padding-bottom: 128px;
    background-color: rgba(0, 0, 0, 0);
    box-shadow: 0 -2px 2px rgba(0, 0, 0, 0.03), 0 -2px 4px rgba(0, 0, 0, 0.03), 0 -2px 8px rgba(0, 0, 0, 0.03);

    font-family: 'Roboto', 'system', sans-serif;
    font-size: 19px;
    line-height: calc( 19px * 1.615 );

    .section {
      position: relative;
      max-width: 800px;
      margin: 0 auto;

      &:first-child {
        padding-top: 32px;
      }

      .Profile {
        top: 128px;
        max-width: 100%;

        .image {
          img {
            object-fit: cover;

            max-width: 100%;
            width: auto;
            height: auto;
          }
        }

        h3 {
          margin: 0;
          text-align: center;
          font-weight: 400;
        }
      }
    }
  }
}