.News {
  display: flex;
  justify-content: center;

  .link {
    margin-bottom: 32px;

    &:last-child {
      margin-bottom: 0;
    }

    p {
      margin: 0;
    }
  }

  .promo-event {
    margin-top: 2rem;
    margin-bottom: 2rem;
    padding: 1rem;
    background-color: rgba(255, 194, 51, .2);
    border: 2px solid #b71c1c;

    .event-title {
      font-size: 1.2rem;
      font-family: 'Playfair Display', serif;
    }

    .event-description {
      margin-top: .5rem;
    }
  }

  .article {
    position: relative;

    .header {
      max-width: 100%;

      .eyebrows {
        display: flex;
        justify-content: space-between;

        margin-bottom: 16px;

        color: rgba(0, 0, 0, .54);
      }

      h1 {
        color: #FF8F00;
      }
    }

    .article-footer {
      margin-top: 16px;
      padding-top: 24px;
      border-top: 1px solid rgba(0, 0, 0, .2);

      text-align: center;
      font-size: 1rem;
    }
  }

  .content-container.article {
    max-width: 800px;
    width: 100%;

    &.pdf {
      padding: 16px;

      canvas {
        width: 800px !important;
        height: calc( 800 / 612* 792px ) !important;
      }
    }

    .body {
      max-width: 100%;

      img {
        display: block;
        width: 100%;
      }

      .image-caption {
        color: rgba(0, 0, 0, .54);
        font-size: .9rem;
      }

      .section {
        margin-bottom: 32px;
        padding-bottom: 16px;
        border-bottom: 1px solid rgba(0, 0, 0, 0.2);

        .title {
          margin-top: 0;
          margin-bottom: 0;
          font-family: 'Playfair Display', serif;
          color: #FF8F00;
        }
        .author {
          margin-top: 4px;

          font-family: 'Playfair Display', serif;
          color: rgba(0, 0, 0, .54);
        }
        .article-body {
          margin-top: 16px;

          text-align: justify;

          .scripture {
            font-family: 'Playfair Display', serif;
            // color: rgba(0, 0, 0, .54);
          }
          .quote {
            padding: 0 16px;
            font-family: 'Playfair Display', serif;
            color: #FF8F00;
            text-align: center;
          }
        }
      }

      .main-article {
        position: relative;
        width: 100%;
      }

      .cols {
        display: flex;
        flex-direction: row;

        width: 100%;

        @media screen and ( max-width: 768px ) {
          flex-direction: column;
        }

        .section:last-child {
          padding-bottom: 0;
          margin-bottom: 0;
          border-bottom: none;
        }

        .article-body {
          font-size: 1.1rem;
          text-align: justify;
        }

        .left {
          flex: 3;

          padding-right: 16px;

          @media screen and ( max-width: 768px ) {
            flex: 1;

            padding-right: 0;
          }

          .eyebrow {
            margin-bottom: .5rem;

            font-size: 1.4rem;
          }
        }
        .right {
          flex: 2;

          padding-left: 16px;

          @media screen and ( max-width: 768px ) {
            flex: 1;

            padding-left: 0;
          }

          .section {
            .eyebrow {
              margin-bottom: .5rem;

              font-size: 1.4rem;
            }
            .title {
              font-size: 1.4rem;
            }

            ul.crossed-list {
              margin-top: 0;
              margin-left: .5rem;
              padding-left: 1rem;
              text-indent: -1rem;

              list-style: none;

              li:before {
                content: '\2720';
                margin-right: .5rem;
              }
            }
          }
        }
      }
    }
  }
}
