.Nav {
  width: 100%;

  background-color: rgba(255, 255, 255, .9);
  border-bottom: 1px solid rgba(0, 0, 0, .1);

  z-index: 20;

  nav {
    display: flex;
    align-items: center;
    justify-content: space-between;

    box-sizing: border-box;

    width: 100%;
    max-width: 1024px;
    margin: 0 auto;
    padding-left: 16px;

    a {
      padding: 12px 16px;
      background-image: none;
    }

    .links {
      margin-right: 16px;

      a {
        font-family: 'Playfair Display', serif;
        font-size: 22px;
      }
    }
  }
}

.headroom {
  z-index: 20 !important;
}
